<div class="row">
  <div *ngFor="let product of products" class="card col" style="width: 18rem">
    <img
          [src]="'http://localhost/assessment-e-commerce/mainmodule/' + product.image_path"
          class="card-img-top"
          />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="addToCart(product.id)">
        Add Item
      </button>
    </div>
  </div>
</div>

